.list{
  display:flex;
  width: 80%;
  flex-wrap: wrap;
  


}
.list-item{
  border: lightgray 1px solid;
  width: 20%;
  text-align: center;
  margin: 7px;
}

.stars{
  display: flex;
  
  cursor: pointer;
}
.list-item-tail{
  display: flex;
  justify-content: space-between;

  background-color:rgb(247, 168, 118);
 
  margin-top: 80px;
 
}
.co{
  background-color: gold;
}
.icon {
  cursor: pointer;
  margin-top: 15px;
  align-items: baseline;
 
}
.onclick{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}